@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

:root {
  --main-font: Asap Condensed, Inter, Avenir, Helvetica, Arial, sans-serif;
  --alt-font: Inter, Avenir, Helvetica, Arial, sans-serif;
  --purple: #673ab7;
  --deep-purple: #4f3789;
  --dark-purple: #442e79;
  --deep-dark-purple: #1e0d46;
  --off-white: #f0f0f0;
  --err-red: #ff2222;
  --success-green: #22cc77aa;
  --background: #242424;
  --grey: #2b2a33;
  --dark-grey: #1a1a1a;

  font-family: var(--main-font);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  border: 1px dashed grey;
  width: 70%;
  margin-block: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  z-index: 10;
  width: 25%;
}

.badge > img{
  -webkit-filter: drop-shadow(7px 7px 0 rgba(0,0,0,.5));
  filter: drop-shadow(7px 7px 0 rgba(0,0,0,.5));
}

.content:nth-child(even) > .flex-container{
  flex-direction: row-reverse;
}

.content:nth-child(odd) > .flex-container > .badge {
    position: relative;
    left: 12%;
}
.content:nth-child(even) > .flex-container > .badge {
    position: relative;
    right: 12%;
}

.details{
  text-align: left;
  width: 75%
}
.details dt{
  font-weight: bold;
  font-style: oblique;
}
.details{
  margin-inline: 10%;
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 50px;
}

@media screen and (max-width: 1150px) {
  .badge, .details {
      margin-inline: 5%;
      width: auto;
  }
  .badge{
    position: static !important;
    padding-bottom: 25px;
  }
  .flex-container{
    flex-direction: column !important;
  }
}
