:root {
  --main-font: Asap Condensed, Inter, Avenir, Helvetica, Arial, sans-serif;
  --alt-font: Inter, Avenir, Helvetica, Arial, sans-serif;
  --purple: rgba(103,58,183,1.0);
  --deep-purple: rgba(79,55,137,1.0);
  --dark-purple: rgba(53,36,94,1.0);
  --deep-dark-purple: rgba(30,13,70,1.0);
  --off-white: rgba(240,240,240,1.0);
  --err-red: rgba(255,34,34,1.0);
  --success-green: rgba(34,204,119,0.67);
  --background: rgba(36,36,36,1.0);
  --grey: rgba(43,42,51,1.0);
  --dark-grey: rgba(26,26,26,1.0);

  font-family: var(--main-font);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  border: 1px dashed grey;
  width: 60%;
  margin-bottom: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.details{
  text-align: justify;
}
.details dt{
  font-weight: bold;
  font-style: oblique;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}

@media screen and (max-width: 850px) {
  .grid-container{
    grid-template-columns: 1fr;
  }
  #banner{
    height: auto;
    width: 90vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
